
body {
    background-color: #BFE6FF; 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


header {
    background-color: #0074D9; 
    text-align: center;
    padding: 10px;
    font-size: 24px;
}


#question {
    margin-top: 20px;
}

input[type="radio"] {
    margin-right: 8px; 
}
